:root {
    --color-fondo: #00000004;
    --color-resalte: #fe9920;
    --verde-jade: #5da668;
    --color-texto: #333333;
    --verde-fondo: #003627;
    --color-boton: #b8dbd9;
  }

h1, .titulo {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
  font-size: 5rem;
}

h2, .subtitulo {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, button, .texto {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

button {
  font-weight: 800;
}