* {
	margin: 0;
	padding: 0;
}

h1, .titulo {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
  font-size: 5rem;
}

h2, .subtitulo {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p, button, .texto {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

button {
  font-weight: 800;
}

/*HEADER*/
header {
	background: var(--primario);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 0;
}
	.logo {
		padding: 1rem;
		font-size: 1.5rem;
		font-weight: 600;
		color: var(--blanco);
	}

	.navigation{
		display: flex;
		align-items: center;
	}

	.navigation nav ul {
		display: flex;
		list-style: none;
		overflow: hidden;
		/*gap: 1.5rem;*/
		padding: 0;
		margin: 0;
		font-size: 20px;
	}
	.navigation nav ul li a {
		padding: 0 1.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		display: block;
		color: var(--blanco);
		text-decoration: none;
	}
	.navigation .buttons {
		display: flex;
		gap: 1rem;
		margin: 0.5rem;	
	}
	.navigation .btn {
		background-color: var(--resalte);
		color: var(--negro);
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		cursor: pointer;
	}
	/*Al pasar el raton cambia el color*/
	nav ul li:hover a{
		color: var(--resalte);
	}

	.btn:hover {
		/* background-color: var(--resalte);	 */
		background: color-mix(in srgb, var(--resalte) 88%, black);
	}

	.btn a {
		text-decoration: none;
	}



/* Icons */
ul.icons {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 100;
}
	ul.icons li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3rem;
		height: 3rem;
		background-color: var(--resalte);
		border-radius: 50%;
		transition: 0.2s;
	}
	ul.icons li .icon {
		font-size: 2rem; /* Tamaño del icono */
		text-align: center;
		color: var(--negro); /* Color del icono */
	}
	ul.icons li:hover{
		background: color-mix(in srgb, var(--resalte) 80%, black);
		width: 3.5rem;
		height: 3.5rem;
	}

	/* Icon */
	.icon {
		color: var(--negro);
		text-decoration: none;
	}
		.icon > .label {
			display: none;
		}
		.icon.fa-brands:before {
			font-family: 'Font Awesome 5 Brands';
		}