*{
	z-index: 2;
	position: relative;
}
/*VIDEO INTRO*/
#videoIntro {
	position: fixed;
	top:0;
	left:0;
	width: 100dvw;
	height: 100dvh;
	max-height: 100dvh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
	#videoIntro h1 {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 1rem;
		color: var(--blanco);
		background-color: rgba(10,10,10,0.5);
		backdrop-filter: blur(2px);
	}
	#myVideo {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}

/*INTRO*/
#intro {
	margin-top: 100dvh;
	display: flex;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 15px;
	background-color: var(--blanco);
}
	#intro img {
		margin-left: 12%;
		max-height: 18rem;
		border-radius: 50%;
	}
	#introText {
		max-width: 50%;
		margin-left: 5rem;
		margin-right: 3rem;
		margin-top: 3rem;
	}

/*SKILLS*/
div.skills {
	background: var(--negro);
	display: flex;
    overflow: hidden;
	min-height: 25rem;
	min-width: 100%;
}
	div.skills img {
		margin: 1rem;
		max-width: 60%;
		height: auto;
		display: block;
		border-radius: 20px;
	}
	div.skillType {
		padding-top: 1.5rem;
		padding-left: 3rem;
		padding-right: 3rem;
		margin: 2rem;
		border-radius: 20px;
		min-width: auto;
		color: var(--resalte);
		background-color: var(--primario);
	}
	div.skillBlock {
		display: flex;
		gap: 3rem;
		width: auto;
		height: 100%;
		color: var(--blanco);
	}
	div.skills ul{
		list-style-type: '• ';
		height: 100%;
	}
	div.skills li{
		margin:1rem;
		font-weight: 500;
	}
	
/*RESUMEN*/
#videoResumen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--blanco);
}
	#videoResumen video{
		margin-top: 2rem;
		max-width: 70%;
		object-fit: cover;
	}

