/* Icons */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

	ul.icons li {
		display: inline-block;
		padding: 0 0.5rem 0 0;
		vertical-align: middle;
	}

		ul.icons li:last-child {
			padding-right: 0;
		}

		ul.icons li .icon:before {
			width: 2.25rem;
			height: 2.25rem;
			line-height: 2.25rem;
			display: inline-block;
			text-align: center;
			border-radius: 100%;
			font-size: 2.25rem;
		}

	ul.icons.alt li .icon:before {
		-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		font-size: 1rem;
	}


/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		text-transform: none !important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 400;
	}

	.icon > .label {
		display: none;
	}

	.icon:before {
		line-height: inherit;
	}

	.icon.solid:before {
		font-weight: 900;
	}

	.icon.fa-brands:before {
		font-family: 'Font Awesome 5 Brands';
	}